{% extends "base.html" %}

{% block container %}

<div class="row">
	<div class="col col-sm-8 offset-sm-2">
		<div class="login-container mt-5">
			{% if error %}
			<p class="alert alert-danger">{{ error }}</p>
			{% endif%}
			<form id="register-form" method="POST" action="{% url "profiles:signup" %}">
				{% csrf_token %}

				{{form.as_p}}

				<button type="submit" class="btn btn-primary btn-block mt-5">
					Sign up!
				</button>
				<div class="form-group">
                    <a href="{% url 'profiles:login' %}">Sign In!</a>
                </div>
			</form>

		</div>
	</div>
</div>

{% endblock container %}